/* Général */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Raleway';
    padding: 20px;
}

ul {
    list-style-type: none;
}

img {
    max-width:100%;
    max-height:100%;  
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

#logo-home {
    width: 90px;
}



/* Section Recherche */

.search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}

.filter-item {

}

#result-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}



#housing-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.fiche1 {
    border: 1px solid #000000;
    width: 300px;
    height: 200px;
    float: inline-end;
}

.tag1 {
    background-color: #ffffff;
    padding: 5px;
    color: #000000;
}
