/* Charte couleur:
#0065FC bleu
#DEEBFF bleu clair
#F2F2F2 gris fond


 ajouter display block sur le a de logo home
 Au passage de la souris la nav class nav-bar:hover
*/

/* Général */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
  }

html {
    border:1px solid blue;
    }

body {
    font-family: 'Raleway';
    font-size: 14px;
}

ul {
    list-style-type: none;
}

img {
    max-width:100%;
    max-height:100%;  
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
  }

.title {
    font-size: 24px;
    font-weight: bold;

}

header, #search-box, #container_housing, #activity-container {
    border: 1px solid red;
    margin: 0 50px;
    }

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#logo-home {
    width: 90px;
}

header div a {
    padding: 30px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.nav-link {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    color: gray;
}

#hebergement {
    border-top: 2px solid #0065FC;
    padding : 40px;
    color: #0065FC;
}

.search-text p {
    margin-top: 8px;
    font-size: 16px;
}

/* Section Recherche */

.search-bar {
    width: 450px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.search-bar #location {
    border: 0px;
    width: 70%;
    height: 100%;
}

.search-bar #search-btn {
    border: 0px;
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-bar i {
    padding: 20px;
}

#location {
    font-weight: bold;
    font-size: 18px;
}

#filter {
    margin-top: 30px;
}

.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}

.filter-container h6, .filter-container li {
    font-size: 18px;
    font-weight: bold;
}



.filter-item a {
    border-radius: 40px;
    border-top: 3px solid #F2F2F2;
    border-bottom: 3px solid #F2F2F2;
    border-right: 3px solid #F2F2F2;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.filter-item i {
    background-color: #DEEBFF;
    border-radius: 40px;
    padding: 20px;
    color: #0065FC;
    margin-right: 15px;
}

#result-info {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 16px;
}


#result-info i {
    color: #0065FC;
    border: 2px solid #F2F2F2;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
}

/* Housing Général */

#container_housing {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Housing Marseille*/

#housing {
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 70%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    margin-right: 40px;
}

#housing .title {
    margin-bottom: 20px;
}

#housing-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.fiche1 {
    padding: 5px;
    background-color: white;
    border-radius: 25px;
}

.fiche1 .view {
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    width: 250px;
    height: 110px;
    object-fit: cover;
}

.tag1 {
    
    background-color: #ffffff;
    padding: 10px;
    color: #000000;
}


/* Housing Popularity*/    

#popularity { 
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 30%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
}
















/** Footer **/

footer {
    display: flex;
    align-items: flex-start;
    background-color: #F2F2F2;
    padding-top: 30px;
}

footer h4 {
    padding-bottom: 15px;
    margin-right : 300px;
}

footer li {
    margin-bottom: 10px;
}